<h2> Thanks {{name}} </h2>
<h3> You will get call on {{mobile}} number</h5>
<h3>Our delivery boy deliver a pizza on this Address: {{address}}</h6>
<p>Total amount: ₹ {{amount}}</p>
<p>Reference Id: {{id}}</p>
